llama-index
langchain
langchain-community

chromadb
lancedb

requests
httpx
websocket-client

beautifulsoup4
pymupdf
pdfplumber
markdown-it-py

sentence-transformers
tiktoken

uvicorn
fastapi

python-dotenv
pydantic
